{% extends "base.html" %}
{% block body_block %}
    <div class="container-fluid"> 
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">IOT Farm</a>
            </li>
            <li class="breadcrumb-item active">Network</li>
        </ol>
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Network Connection Detail</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="ModeNetwork" class="form-control" placeholder="ModeNetwork" >
                        <label for="inputEmail">Mode Network</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="SSID" class="form-control" placeholder="SSID"  autofocus="autofocus">
                                <label for="SSID">SSID</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="PSK" class="form-control" placeholder="PSK" >
                                <label for="PSK">PSK</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" id="gateway" class="form-control" placeholder="gateway"  autofocus="autofocus">
                                    <label for="gateway">Gateway</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" id="subnet" class="form-control" placeholder="subnet" >
                                    <label for="subnet">Subnet Mask</label>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="" id="inputEmail" class="form-control" placeholder="Email address" required="required">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                   
                <a class="btn btn-primary btn-block" href="login.html">Register</a>
            </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="login.html">Login Page</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}