{% extends "base.html" %}
{% block body_block %}
<div class="container-fluid"> 
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">IOT Farm</a>
        </li>
        <li class="breadcrumb-item active">Control & Mornitoring</li>
    </ol>
    <div class="container">
            
        <h2>
            Control And Mornitoring
            <!-- <div class="float-sm-right">
                    <button type="button" class="btn btn-primary" id="TestConnect"data-toggle="modal" data-target="#TestConnectMD">Test Connect Endnode</button>
                    <button type="button" class="btn btn-success" id="AddEndNode" data-toggle="modal" data-target="#AddEndnodeMD">Add Endnode</button>
                    <button type="button" class="btn btn-danger" id="DeleteEndNode" data-toggle="modal" data-target="#DeleteEndnodeMD">Delete Endnode</button>
            </div>  -->
        </h2>     
        <h3>RLACS NODE</h3>
        <table class="table table-bordered">
            <thead>
              <tr class="d-flex">
                <th scope="col" class="col-4">IDNODE</th>
                <th scope="col" class="col-2">D1</th>
                <th scope="col" class="col-2">A1</th>
                <th scope="col" class="col-2">D2</th>
                <th scope="col" class="col-2">A2</th>
              </tr>
            </thead>
            <tbody id="RLACS_TABLE">
            
            </tbody>
        </table>
        <h3>RLTDS NODE</h3>
        <table class="table table-bordered">
            <thead>
              <tr class="d-flex">
                <th scope="col" class="col-4">IDNODE</th>
                <th scope="col" class="col-4">D</th>
                <th scope="col" class="col-4">TDS</th>
              </tr>
            </thead>
            <tbody id="RLTDS_TABLE">
            
            </tbody>
        </table>
        <h3>THL_SENSOR NODE</h3>
        
        <table class="table table-bordered">
            <thead>
              <tr class="d-flex">
                <th scope="col" class="col-4">IDNODE</th>
                <th scope="col" class="col-3">TEMPERATURE</th>
                <th scope="col" class="col-3">HUMIDITY</th>
                <th scope="col" class="col-2">LIGHT</th>
              </tr>
            </thead>
            <tbody id="THL_TABLE">
            
            </tbody>
        </table>
                  
    </div>
    <br />
    <div class="container">
    </div>
</div>

<script>
function myFunction(btn_id){
        // alert($('#'+btn_id).val());
        id_ = '#'+btn_id;
        if ($(id_).val() == 'ON'){
            $(id_).removeClass();
            $(id_).addClass("btn btn-default");
            $(id_).val("OFF");
            var datasend = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'IDNODE'   : id_.slice(1, id_.length - 3),
                'PIN'       : id_.slice(id_.length - 2, id_.length),
                'STATUS'    : 'OFF',
            };
            
            $.ajax({
                type: 'POST',
                url: '/device/ControlDO/',
                data: datasend,
                success: function (data, textStatus) {},
                error: function (xhr, status, e) {alert(status, e);}
            });

        }
        else if ($(id_).val() == 'OFF'){
            $(id_).removeClass();
            $(id_).addClass("btn btn-success");
            $(id_).val("ON");
            var datasend = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'IDNODE'   : id_.slice(1, id_.length - 3),
                'PIN'       : id_.slice(id_.length - 2, id_.length),
                'STATUS'    : 'ON',
            };
            
            $.ajax({
                type: 'POST',
                url: '/device/ControlDO/',
                data: datasend,
                success: function (data, textStatus) {},
                error: function (xhr, status, e) {alert(status, e);}
            });
        }
    }
$(document).ready(function(){
    var timer_cmpages = setInterval(function(){
        
            var datasend = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'DATA_NEED' : 'Get Data CMPage'
            };

            $.ajax({
                type: 'POST',
                url: '/device/DataCMPage/',
                data: datasend,
                success: function (data, textStatus) {
                    console.log(data);
                    // console.log(data.RLACS); 
                    for (var i = 0; i < data.RLACS.length; i++ ){
                        var col1 = document.createElement("td");
                        var text1 = document.createTextNode(data.RLACS[i][0]);
                        col1.setAttribute( "class","col-4");
                        col1.appendChild(text1);

                        var col2 = document.createElement("td");
                        var btnd1 = document.createElement("input");
                        col2.setAttribute( "class","col-2");
                        btnd1.setAttribute("type", "button");
                        btnd1.setAttribute("class","btn btn-default")
                        btnd1.setAttribute("id",data.RLACS[i][0]+"_D1");
                        btnd1.setAttribute("value","OFF");
                        btnd1.setAttribute("style","width:100px");
                        btnd1.setAttribute("onclick","myFunction(this.id)");
                        

                        col2.appendChild(btnd1);

                        var col3 = document.createElement("td");
                        var text3 = document.createTextNode(data.RLACS[i][2] + " (A)");
                        col3.setAttribute( "class","col-2");
                        col3.appendChild(text3);
                        
                        var col4 = document.createElement("td");
                        var btnd2 = document.createElement("input");
                        col4.setAttribute( "class","col-2");
                        btnd2.setAttribute("type", "button");
                        btnd2.setAttribute("class","btn btn-default")                      
                        btnd2.setAttribute("id",data.RLACS[i][0]+"_D2");
                        btnd2.setAttribute("value","OFF");
                        btnd2.setAttribute("style","width:100px");
                        btnd2.setAttribute("onclick","myFunction(this.id)");
                        col4.appendChild(btnd2);

                        var col5 = document.createElement("td");
                        col5.setAttribute( "class","col-2");
                        var text5 = document.createTextNode(data.RLACS[i][4] + " (A)");
                        col5.appendChild(text5);
                        
                        var row = document.createElement("tr");
                        row.setAttribute("id", data.RLACS[i][0]);
                        row.setAttribute("class","d-flex");
                        row.appendChild(col1);
                        row.appendChild(col2);
                        row.appendChild(col3);
                        row.appendChild(col4);
                        row.appendChild(col5);
                        document.getElementById("RLACS_TABLE").appendChild(row);                  
                    }
                    for (var i = 0; i < data.RLTDS.length; i++ ){
                        var col1 = document.createElement("td");
                        var text1 = document.createTextNode(data.RLTDS[i][0]);
                        col1.setAttribute( "class","col-4");
                        col1.appendChild(text1);

                        var col2 = document.createElement("td");
                        var btnd1 = document.createElement("input");
                        col2.setAttribute( "class","col-4");
                        btnd1.setAttribute("type", "button");
                        btnd1.setAttribute("class","btn btn-default")
                        btnd1.setAttribute("id",data.RLTDS[i][0]+"_DX");
                        btnd1.setAttribute("value","OFF");
                        btnd1.setAttribute("style","width:100px");
                        btnd1.setAttribute("onclick","myFunction(this.id)");
                        col2.appendChild(btnd1);

                        var col3 = document.createElement("td");
                        var text3 = document.createTextNode(data.RLACS[i][2] + " (PPM)");
                        col3.setAttribute( "class","col-4");
                        col3.appendChild(text3);

                        var row = document.createElement("tr");
                        row.setAttribute("id", data.RLTDS[i][0]);
                        row.setAttribute("class","d-flex");
                        row.appendChild(col1);
                        row.appendChild(col2);
                        row.appendChild(col3);
                        document.getElementById("RLTDS_TABLE").appendChild(row);   
                    }

                    for (var i = 0; i < data.THL.length; i++ ){
                        var col1 = document.createElement("td");
                        var text1 = document.createTextNode(data.THL[i][0]);
                        col1.setAttribute( "class","col-4");
                        col1.appendChild(text1);

                        var col2 = document.createElement("td");
                        var text2 = document.createTextNode(data.THL[i][1] + " " +String.fromCharCode(176) + "C");
                        col2.setAttribute( "class","col-3");
                        col2.appendChild(text2);

                        var col3 = document.createElement("td");
                        var text3 = document.createTextNode(data.THL[i][2] + " %");
                        col3.setAttribute( "class","col-3");
                        col3.appendChild(text3);

                        var col4 = document.createElement("td");
                        var text4 = document.createTextNode(data.THL[i][3] + " LUX");
                        col4.setAttribute( "class","col-2");
                        col4.appendChild(text4);

                        var row = document.createElement("tr");
                        row.setAttribute("id", data.THL[i][0]);
                        row.setAttribute("class","d-flex");
                        row.appendChild(col1);
                        row.appendChild(col2);
                        row.appendChild(col3);
                        row.appendChild(col4);
                        document.getElementById("THL_TABLE").appendChild(row);   
                    }

                    clearInterval(timer_cmpages);

                // <!-- <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary" data-offstyle="danger"> -->
                },
                
            });
      
    },100);
    
})


// $(id_).removeClass();
// $(id_).addClass("btn btn-primary active");
// $(id_).text("ON");

// $(document).ready(function(){
//     var timer_endnode;
//     timer_endnode = setInterval(
//         function(){
//             var datasend = {
//                 'csrfmiddlewaretoken': '{{ csrf_token }}',
//                 'DATA_NEED' : 'Get Info End Node'
//             };

//             $.ajax({
//                 type: 'POST',
//                 url: '/device/InfoEndNode/',
//                 data: datasend,
//                 success: function (data, textStatus) {
//                     console.log(data);
//                     // console.log(data.RLACS.length);
//                     for (var i = 0; i < data.RLACS.length; i++ ){
                        
//                         var row = document.createElement("tr");
//                         var col1 = document.createElement("td");
//                         var text1 = document.createTextNode("RLACS");
//                         var col2 = document.createElement("td");
//                         var text2 = document.createTextNode(data.RLACS[i]);


//                         var col3 = document.createElement("td");
//                         var text3 = document.createTextNode("");


//                         col1.appendChild(text1);
//                         col2.appendChild(text2);
//                         col3.appendChild(text3);
                        
//                         row.appendChild(col1);
//                         row.appendChild(col2);
//                         row.appendChild(col3);
//                         document.getElementById("InforEndnode").appendChild(row);
//                     }
//                     for (var i = 0; i < data.RLTDS.length; i++ ){
//                         var row = document.createElement("tr");
//                         var col1 = document.createElement("td");
//                         var text1 = document.createTextNode("RLTDS");
//                         var col2 = document.createElement("td");
//                         var text2 = document.createTextNode(data.RLTDS[i]);
//                         var col3 = document.createElement("td");
//                         var text3 = document.createTextNode("");

                        
//                         col1.appendChild(text1);
//                         col2.appendChild(text2);
//                         col3.appendChild(text3);


                        
//                         row.appendChild(col1);
//                         row.appendChild(col2);
//                         row.appendChild(col3);
//                         document.getElementById("InforEndnode").appendChild(row);
//                     }
//                     for (var i = 0; i < data.THL_SENSOR.length; i++ ){
//                         var row = document.createElement("tr");
//                         var col1 = document.createElement("td");
//                         var text1 = document.createTextNode("THL_SENSOR");
//                         var col2 = document.createElement("td");
//                         var text2 = document.createTextNode(data.THL_SENSOR[i]);
//                         var col3 = document.createElement("td");
//                         var text3 = document.createTextNode("");


//                         col1.appendChild(text1);
//                         col2.appendChild(text2);
//                         col3.appendChild(text3);

//                         row.appendChild(col1);
//                         row.appendChild(col2);
//                         row.appendChild(col3);
//                         document.getElementById("InforEndnode").appendChild(row);
//                     }
//                     clearInterval(timer_endnode);
//                 },
//                 error: function (xhr, status, e) {
//                     alert(status, e);
//                 }
//             });
//         }, 500);
// })

</script>
{% endblock %}