{% extends "base.html" %}
{% block body_block %}
<div class="container-fluid"> 
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">IOT Farm</a>
        </li>
        <li class="breadcrumb-item active">EndNode</li>
    </ol>
    <div class="container">
            
        <h2>Endnode Management</h2>     
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>
                  
    </div>
    <br />
    <div class="container">
    </div>
    {% include "network/configAccesspoint.html" %}
{% endblock %}